<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id = "bd" class ="com.springcore.services.BlueDart" autowire-candidate="false"/>
    <bean id = "dhl" class ="com.springcore.services.DHL" autowire-candidate="false"/>
    <bean id= "fedex" class ="com.springcore.services.FedEx"/>
    
    
	<bean id = "amz" class ="com.springcore.main.Amazon" autowire="byType"/> 
	
</beans>
